<div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/#!/login">Genestimate</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li ng-show="isAuthenticated"><a href="/#!/order">Order an estimate</a></li>
                    <li><a href="/#!/contact">Contact</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown" ng-show="isAdmin">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="">
                            <i class="fa fa-gear"></i> Admin panel <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/#!/estimates-list"><span class="fa fa-list-alt"></span> Estimates list</a></li>
                        </ul>
                    </li>
                    <li class="dropdown" ng-show="isAuthenticated">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="">
                            <i class="fa fa-user"></i> Signed in as {{ username }} <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/#!/my-estimates"><span class="fa fa-list-alt"></span> My estimates</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a ng-click="logout()" href><span class="fa fa-sign-out"></span> Lougout</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>
