<div>
    <div class="col-xs-12">
        <div class="page-header">
            <h1>Order an estimate <small>Simply order online your estimate for printing a <strong>book</strong>.</small></h1>
        </div>
        <div class="col-xs-12">
            <p>Please provide the following information</p>
            <form>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label for="nb-pages-input">Number of pages</label>
                            <input class="form-control" type="text" id="nb-pages-input">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label for="quantity-input">Quantity</label>
                            <input class="form-control" type="text" id="quantity-input">
                            <small id="quantityHelp" class="form-text text-muted">Must be multiple of 4</small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label for="binding-select">Binding Type</label>
                            <select class="form-control" id="binding-select">
                                <option disabled selected value> -- Please select a binding type -- </option>
                                <option>Hardcover - Case binding</option>
                                <option>Hardcover - Oversewing</option>
                                <option>Hardcover - Sewing through the fold (Smyth Sewing)</option>
                                <option>Hardcover - Double-fan adhesive binding</option>
                                <option>Punch and bind</option>
                                <option>Thermally activated binding</option>
                                <option>Stitched or sewn binding</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label for="cover-material-select">Cover raw material</label>
                            <select class="form-control" id="cover-material-select">
                                <option disabled selected value> -- Please select the cover raw material -- </option>
                                <option>Uncoated White 50 lb</option>
                                <option>Uncoated White 60 lb</option>
                                <option>Uncoated White 70 lb</option>
                                <option>Uncoated White 80 lb</option>
                                <option>Uncoated White 60 lb</option>
                                <option>Coated Bright White 60 lb</option>
                                <option>Coated Bright White 80 lb</option>
                                <option>Coated Bright White 100 lb</option>
                                <option>Fine Paper White 50 lb</option>
                                <option>Fine Paper White 60 lb</option>
                                <option>Fine Paper White 65 lb</option>
                                <option>Fine Paper White 80 lb</option>
                                <option>Fine Paper White 90 lb</option>
                                <option>Fine Paper White 100 lb</option>
                                <option>Fine Paper White 130 lb</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label for="cover-printingType-select">Cover printing type</label>
                            <select class="form-control" id="cover-printingType-select">
                                <option disabled selected value> -- Please select the cover printing type -- </option>
                                <option>1 color</option>
                                <option>Multiple colors</option>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>