<div>
    <div class="col-xs-12">
        <div class="page-header">
            <h1>Order an estimate <small>Simply order online your estimate for printing a <strong>book</strong>.</small></h1>
        </div>
        <div class="col-xs-12">
            <p>Please provide the following information</p>
            <form>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label for="nb-pages-input">Quantity</label>
                            <input class="form-control" type="number" id="nb-pages-input" ng-model="properties.quantity">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label for="quantity-input">Number of pages</label>
                            <input class="form-control" type="number" id="quantity-input" ng-model="properties.nbPages">
                            <small id="quantityHelp" class="form-text text-muted">Must be multiple of 4</small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label for="dimensions-select">Dimensions</label>
                            <select class="form-control" id="dimensions-select" ng-options="dimensionsLabel(dimensions.length, dimensions.width) for dimensions in finalDimensionsList" ng-model="properties.finalDimensions">
                                <option disabled selected value> -- Please select the dimensions -- </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label for="binding-select">Binding Type</label>
                            <select class="form-control" id="binding-select" ng-options="bindingType.name for bindingType in bindingTypesList" ng-model="properties.bindingType">
                                <option disabled selected value> -- Please select the binding type -- </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label for="cover-material-select">Cover raw material</label>
                            <select class="form-control" id="cover-material-select" ng-options="rawMaterial.name for rawMaterial in rawMaterialsList" ng-model="properties.coverRawMaterial">
                                <option disabled selected value> -- Please select the cover raw material -- </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label for="cover-printingType-select">Cover printing type</label>
                            <select class="form-control" id="cover-printingType-select" ng-options="printingType.name for printingType in printingTypesList" ng-model="properties.coverPrintingType">
                                <option disabled selected value> -- Cover printing type -- </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div ng-repeat="component in properties.product.components">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label for="{{ component.name.split(' ').join('') | lowercase }}-rawmaterial-select">{{ component.name }} raw material</label>
                                <select class="form-control" id="{{ component.name.split(' ').join('') | lowercase }}-rawmaterial-select" ng-options="rawMaterial.name for rawMaterial in rawMaterialsList" ng-model="componentProperties[$index].rawMaterial">
                                    <option disabled selected value> -- {{ component.name }} raw material -- </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label for="{{ component.name.split(' ').join('') | lowercase }}-printing-type-select">{{ component.name }} printing type</label>
                                <select class="form-control" id="{{ component.name.split(' ').join('') | lowercase }}-printing-type-select" ng-options="printingType.name for printingType in printingTypesList" ng-model="componentProperties[$index].printingType">
                                    <option disabled selected value> -- {{ component.name }} printing type -- </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <input type="submit" class="btn btn-primary pull-right" value="Confirm" ng-click="sendProperties()"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>