<div>
    <div class="col-xs-12">
        <div class="page-header">
            <h1>Contact us</h1>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-sm-offset-4">
                <p>
                    <strong>Muster Druckerei GmbH</strong><br>
                    Musterstraße 123<br>
                    12345 Musterstadt
                </p>
                <p>
                    Tel : +49 303 12345678<br>
                    Fax : +49 303 12345687
                </p>
                <p>
                    Email : contact@musterdruckerei.com
                </p>
            </div>
        </div>
    </div>
</div>